



.main{
    left: 50px;
    top: 50px;
    position: relative;  
    background-color: white;
    width: 0;
}

.list{
    
    list-style-type: none;
    /* float: right; */
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    left: 78%;
    top: 30px;
    position: relative;
    
}

.li{
    top: -5%;
  font-family: raleway;
  font-size: 14px;
  font-weight: 500;
  right: 10px;
  
  /* float: left; */
  text-decoration:none;
  position:relative;
}

.illustration1{
    left: 720px;
    bottom: 480px;
    position: relative;
    

}

.text{
    top: -29px;
    width: 22%;
    height: 43px;
    position: relative;
    border-color: red;
    
}

.button{
    font-size: 13px;
    font-weight: bold;
    color: white;
    width: 15%;
    height: 48px;
    border-radius: 5px;
    background-color:  hsl(224, 91%, 73%);
    border: none;
    bottom: 30px;
    position: relative;
}

.checkmail{
    top: -85px;
    font-size: 11px;
    font-weight: 600;
    color: rgb(214, 79, 101);
    position: relative;
}
.text1{
    top: 160px;
    font-size: 35px;
    left: 50px;
    font-family: raleway;
    position: relative;
    
}

.text1a{
    margin-top: -2%;
    
    
}

.text1b{
    top: -12px;
    font-weight:500;
    font-size: 18px;
    position: relative;
    
}

.curve{
    bottom: 105px;
width: 100%;
height: 100px;
position: relative;
}

.curve{
    background-image: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    width: 90%;
    
}

.text2{
    font-family: raleway;
    left: 50px;
    bottom: 100px;
    position: relative;
    font-size: larger;
}

.fylo{
    font-weight: 500;
    font-family: raleway;
    bottom: 85px;
    left: 50px;
    position: relative;

}


.fylolink{
    bottom: 80px;
    position: relative;
    left: 50px;
    text-decoration: none;
    color: aqua;
    font-family: raleway;
    font-weight: 600;
}

.arrow{
    bottom: 77px;
    left: 50px;
    position: relative;
}

.quote{
    bottom: 35px;
    border-radius: 5px;
    background-color:white;
    box-shadow: -0px -0px 40px 10px rgba(0,0,0,0.3);
    left: 50px;
    width: 23%;
    height: 212px;
    position: relative;
}

.icon{
    left: 30px;
    top: 20px;
    position: relative;
    }

.avatar{
    width: 40px;
    border-radius: 50px;
    top: 8px;
    position: relative;
}

.kyle{
    left: 50px;
    font-weight: bolder;
    bottom: 47px;
    position: relative;
}
.ceo{
    bottom: 62px;
    left: 50px;
    font-size: 12px;
    position: relative;
}

.text3{
    left: 30px;
    position: relative;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.illustration2{
    width: 570px;
    left: 800px;
    bottom: 520px;
    position: relative;
    
}

.footage1{
    background-color: hsl(240, 21%, 46%);
    width: 90%;
    height: 320px;
    position: relative;
    bottom: 457px;
    
}

.footage2{
    background-color: rgb(4, 4, 63);
    width: 90%;
    height: 140%;
    position: relative;
    bottom: 457px;
}

.footagetext1{
    color: white;
    left: 40px;
    top: 103px;
    font-family: raleway;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    
    
}

.footagetextbox{
    bottom: 140px;
    left: 830px;
    width: 25%;
    height: 40px;
    position:relative;
}

.email{
    bottom: 155px;
    left: 830px;
    color:white;
    font-weight: 300;
    font-size: 13px;
    position: relative;

}

.button2{
    color: white;
    font-size: 13px;
    font-weight:bold;
    width: 16%;
    height: 50px;
    border-radius: 3px;
    background-color:  hsl(224, 69%, 68%);
    position: relative;
    left: 61.3%;
    bottom: 190px;
    border: none;
    box-shadow: -0px -0px  10px rgba(0,0,0,0.3);
    
}

.logo2{
    width: 130px;
    top: 100px;
    left: 60px;
    position: relative;
    filter: brightness(0) invert()
}

.phone{
    top: 150px;
    position: relative;
    width: 20px;
    right: 70px;
}

.gmail{
    top: 190px;
    position: relative;
    width: 20px;
    right: 90px;
    
}

.phone-txt{
    left: 100px;
    color: white;
    top: 115px;
    position: relative;
    font-family: raleway;
    font-weight: 500;
    font-size: 16px;
    
}


.gmail-txt{
    left: 100px;
    color: white;
    top: 120px;
    position: relative;
    font-family: raleway;
    font-weight: 500;
    font-size: 16px;

}

.footage-link1{
    position: relative;
    left: 39%;
    top: 50px;
    
    
}

.links{
    color: white;
    top: 10px;
    position: relative;
    text-decoration: none;
    font-family: raleway;
    font-size: 14px;
}

.footage-link2{
    position: relative;
    left: 800px;
    bottom: 80px;
}

.icons{
    width: 30px;
    filter: brightness(0) invert(1);
    position: relative;
    left: 78%;
    bottom: 180px;
    

}

.tweet{
    left: 20px;
    position: relative;
}

.ig{
    left: 40px;
    position: relative;
}